@model Infrastructure.Models.LinhVuc
@{
	ViewData["Title"] = "Delete";
}
<h1>Delete</h1>
<h4> LinhVuc</h4>
<br />
<
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.MaLinhVuc)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.MaLinhVuc)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TenLinhVuc)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TenLinhVuc)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.MoTa)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.MoTa)
    </dd>
</dl>
<div>
	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Delete" class="btn btn-danger" />
		<a asp-action="Index">Back to list</a>
	</form>
</div>